https://github.com/timothyb0912/pylogit/tree/master/examples/notebooks

In [2]:
from collections import OrderedDict

import pandas as pd
import numpy as np

import pylogit as pl

#### load the cleaned, long-format swiss metro data

In [3]:
# Load the dataset
long_swiss_metro = pd.read_csv("../../data/long_swiss_metro_data.csv")

In [7]:
long_swiss_metro.head(9).T

,0,1,2,3,4,5,6,7,8
custom_id,1.000000,1.000000,1.00,2.000000,2.000000,2.00,3.000000,3.000000,3.00
mode_id,1.000000,2.000000,3.00,1.000000,2.000000,3.00,1.000000,2.000000,3.00
CHOICE,0.000000,1.000000,0.00,0.000000,1.000000,0.00,0.000000,1.000000,0.00
GROUP,2.000000,2.000000,2.00,2.000000,2.000000,2.00,2.000000,2.000000,2.00
SURVEY,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
SP,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
ID,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
PURPOSE,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
FIRST,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
TICKET,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
WHO,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
LUGGAGE,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
AGE,3.000000,3.000000,3.00,3.000000,3.000000,3.00,3.000000,3.000000,3.00
MALE,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
INCOME,2.000000,2.000000,2.00,2.000000,2.000000,2.00,2.000000,2.000000,2.00
GA,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
ORIGIN,2.000000,2.000000,2.00,2.000000,2.000000,2.00,2.000000,2.000000,2.00
DEST,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
seat_configuration,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
travel_time,112.000000,63.000000,117.00,103.000000,60.000000,117.00,130.000000,67.000000,117.00
headway,120.000000,20.000000,0.00,30.000000,10.000000,0.00,60.000000,30.000000,0.00
travel_cost,48.000000,52.000000,65.00,48.000000,49.000000,84.00,48.000000,58.000000,52.00
travel_time_hrs,1.866667,1.050000,1.95,1.716667,1.000000,1.95,2.166667,1.116667,1.95
headway_hrs,2.000000,0.333333,0.00,0.500000,0.166667,0.00,1.000000,0.500000,0.00
free_ticket,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
travel_cost_hundreth,0.480000,0.520000,0.65,0.480000,0.490000,0.84,0.480000,0.580000,0.52
single_luggage_piece,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
multiple_luggage_pieces,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000,0.000000,0.00
regular_class,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00
train_survey,1.000000,1.000000,1.00,1.000000,1.000000,1.00,1.000000,1.000000,1.00

In [5]:
long_swiss_metro.shape

(19143, 30)

#### Create the model specification